$border-color: #2980b9;
$shadow-color: transparentize($border-color, 0.2);

$checked-color: darken($border-color, 15);
$checked-hover-color: darken($checked-color, 5);

* {
  box-sizing: border-box;
}

html {
  background: #111;
  color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

html, body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

#flexy {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  #intro, #disclaimer {
    flex: 0;
    padding: 1rem;
  }
  #twrap {
    flex: 1;
    pading: 1rem;
    width: 100%;
  }
}

h1 {
  margin-top: 0;
  text-align: center;
}

table#bingo {
  margin: 1rem auto;
  max-width: 30rem;
  border-spacing: 0;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0.1rem 0.1rem 2rem $shadow-color;
  text-align: center;

  td {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0.25rem solid $border-color;
    margin: 0;
    padding: 0;
  }
  thead td {
    background: $border-color;
    color: white;
  }
  tbody td {
    width: 20%;
  }

}

input#crckey {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  color: white;
  $placeholder-color: mix($border-color, #fff, 50%);
  &::placeholder { color: $placeholder-color; opacity: 1; }
  &::-moz-placeholder { color: $placeholder-color; opacity: 1; }
  &::-webkit-input-placeholder { color: $placeholder-color; opacity: 1; }

  & + .tooltip {
    $tooltip-color: #f1c40f;
    display: none;
    position: absolute;
    top: 105%;
    left: -1rem;
    right: -1rem;
    border-radius: 1rem;
    background: $tooltip-color;
    color: black;
    font-size: 0.9rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem transparentize($tooltip-color, 0.1);
  }
  &.empty + .tooltip {
    display: inline-block;
  }
}

.cell {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  min-width: 4rem;
  min-height: 5rem;
  padding: 0.5rem;
  border: none;
  font-size: 0.8rem;

  background: white;
  color: black;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }

  &.checked {
    background: $checked-color;
    color: white;
    &:hover {
      background: $checked-hover-color;
    }
  }
}

a {
  color: $checked-color;
  text-decoration: underline;
}

#disclaimer {
  color: #bbb;
  & a,
  & a:visited {
    color: inherit;
  }
}
